<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
</head>
<body style="margin:0;">
<table style="width:100%!important; border-spacing:0; border-collapse:collapse">
  <tbody>
  <tr>
    <td>
      <table style="width:100%; border-spacing:0; border-collapse:collapse">
        <tbody>
        <tr>
          <td style="padding-bottom:40px">
            <table style="width:100%; text-align:left; border-spacing:0; border-collapse:collapse;">
              <tbody>
              <tr>
                <td>
                  {{ body }}
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
