{{ attach_library('staffsales/staffsales-admin-metafield') }}
<div class="layout-container">
  {{ page.highlighted }}
  <main role="main">
    <div class="layout-content">
      {{ page.content }}
    </div>
  </main>
</div>
